<?xml version="1.0" encoding="utf-8"?>
<packages>
   <package id="7zip" />
   <package id="7zip.install" />
   <package id="AdobeAIR" />
   <package id="altdrag" />
   <package id="anydesk" />
   <package id="anydesk.portable" />
   <package id="asciidocfx" />
   <package id="asciidocfx.install" />
   <package id="asciidoctorj" />
   <package id="astrogrep" />
   <package id="autohotkey.portable" />
   <package id="barrier" />
   <package id="bleachbit" />
   <package id="bleachbit.install" />
   <package id="captura" />
   <package id="ccenhancer" />
   <package id="ccenhancer.install" />
   <package id="ccleaner" />
   <package id="choco-cleaner" />
   <package id="choco-package-list-backup" />
   <package id="choco-protocol-support" />
   <package id="choco-shortcuts-winconfig" />
   <package id="choco-upgrade-all-at" params="'/NOTASK:true'" />
   <package id="chocobutler" />
   <package id="chocolatey" />
   <package id="chocolatey-core.extension" />
   <package id="chocolatey-dotnetfx.extension" />
   <package id="chocolatey-uninstall.extension" />
   <package id="chocolatey-visualstudio.extension" />
   <package id="chocolatey-windowsupdate.extension" />
   <package id="chocomaint" />
   <package id="cmake" />
   <package id="cmake.install" />
   <package id="dbeaver" />
   <package id="discord" />
   <package id="discord.install" />
   <package id="dngrep" />
   <package id="DotNet4.5.2" />
   <package id="dotnet4.7.2" />
   <package id="dotnetfx" />
   <package id="element-desktop" />
   <package id="etcher" />
   <package id="ext2fsd" />
   <package id="ffmpeg" />
   <package id="filezilla" />
   <package id="Firefox" />
   <package id="flashplayerplugin" />
   <package id="flashplayerplugin-disable-updates-winconfig" />
   <package id="freecad" />
   <package id="freefilesync" />
   <package id="freeplane" />
   <package id="ganttproject" />
   <package id="gh" />
   <package id="gimp" />
   <package id="git" />
   <package id="git-lfs" />
   <package id="git-lfs.install" />
   <package id="git.install" />
   <package id="gitahead" />
   <package id="github-desktop" />
   <package id="gitkraken" />
   <package id="GitVersion.Portable" />
   <package id="google-backup-and-sync" />
   <package id="greenshot" />
   <package id="grepwin" />
   <package id="hashtab" />
   <package id="hxd" />
   <package id="InkScape" />
   <package id="instchoco" />
   <package id="iso7z" />
   <package id="jre8" />
   <package id="KB2919355" />
   <package id="KB2919442" />
   <package id="KB2999226" />
   <package id="KB3033929" />
   <package id="KB3035131" />
   <package id="keepass" />
   <package id="keepass-plugin-winkee" />
   <package id="keepass.install" />
   <package id="kicad" />
   <package id="librecad" />
   <package id="libreoffice-fresh" />
   <package id="netfx-4.7.2" />
   <package id="nextcloud-client" />
   <package id="nirlauncher" />
   <package id="notepadplusplus" />
   <package id="notepadplusplus.install" />
   <package id="nvm" />
   <package id="nvm.portable" />
   <package id="okular" />
   <package id="openjdk" />
   <package id="openssh" />
   <package id="pandoc" />
   <package id="partitionwizard" />
   <package id="patchcleaner" />
   <package id="PDFCreator" />
   <package id="pdfsam" />
   <package id="php" />
   <package id="pidgin" />
   <package id="poedit" />
   <package id="poppler" />
   <package id="purple-facebook" />
   <package id="putty" />
   <package id="putty.portable" />
   <package id="python2" />
   <package id="python3" />
   <package id="qbittorrent" />
   <package id="rambox" />
   <package id="ripgrep" />
   <package id="ripgrep-all" />
   <package id="signal" />
   <package id="skype" />
   <package id="skype-disable-updates-winconfig" />
   <package id="speedyfox" />
   <package id="Sudo" />
   <package id="sysinternals" />
   <package id="teamviewer" />
   <package id="thunderbird" />
   <package id="toolsroot" />
   <package id="ultradefrag" />
   <package id="vcredist140" />
   <package id="vcredist2015" />
   <package id="vcredist2017" />
   <package id="virtualbox" />
   <package id="visualstudio-installer" />
   <package id="visualstudio2019-workload-vctools" />
   <package id="visualstudio2019buildtools" />
   <package id="vlc" />
   <package id="vscodium" />
   <package id="vscodium.install" />
   <package id="WhatsApp" />
   <package id="windirstat" />
   <package id="windowsrepair" />
   <package id="windowsrepair.install" />
   <package id="WinImage" />
   <package id="winmerge" />
   <package id="winmerge-7z" />
   <package id="Xming" />
</packages>
